/* MAIN */
main section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
main a.bouton, input[type="submit"] {
    background-color: #548F8B;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-right: 2rem;
    margin-top: 3rem;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
}
main a.bouton:hover, main a.bouton:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #76b1ad;
}
/* Section introduction */
.introduction {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}
    .introduction > * {
        grid-column-end: span 6;
    }
    @media screen and (max-width: 900px) {
        .introduction > * {
            grid-column-end: span 12;
        }
    }