    header nav li a {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        padding: 12px 20px;
        display: block;
        transition: 1s all;
    }
    header nav li a:hover, header nav li a:focus {
        background-color: darkorchid;
        color: #fff;
    }